@media screen and (max-device-width: 375px) {

    body {
        overflow: hidden;
    }

    .main__container {
        width: 80%;
        height: 70%;
        border-radius: 16px;
    }

    .main__container h1 {
        font-size: 1.4rem;
        font-weight: 700;
    }

    .main__container h2 {
        font-size: 1rem;
        font-weight: 400;
        color: #7D889E;
    }
    .footer {
        padding: 16px;
    }
}